.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.text {
    color: #0099CC;
    margin: auto 30px;
    display: inline-block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
h10{
    color: #0099CC;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    line-height: 5rem;
}

.product-box{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.model-box{
    text-align: center;
    font-size: 2rem;
    line-height: 5rem;
    color: #0099CC;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-box div{
    color: #0099CC;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-shopping-cart{
    content: "\e9b0";
    width: 40px;
    height: 40px;
    float: right;
    display: inline-block;
    margin-top: 15px;
}

.icon-edit {
    content: "\e93a";
    width: 40px;
    height: 40px;
    float: right;
    display: inline-block;
    margin-top: 15px;
}

