#products{
    background-color: #19191b;
    background-image: url(../images/services-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 800px;
    position: relative;
    padding: 15rem 0 15rem;
    color: rgba(255, 255, 255, 0.3);
}

#products .product {
    color: #adb7bd;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;
}

