<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

<!--- basic page needs
================================================== -->
<meta charset="utf-8">
<title>Iphone Store</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- mobile specific metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/vendor.css">
<link rel="stylesheet" href="css/main.css">

<!-- script
================================================== -->
<script src="js/modernizr.js"></script>
<script src="js/pace.min.js"></script>

<!-- favicons
 ================================================== -->
<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
<link rel="icon" href="../static/favicon.ico" type="image/x-icon">

</head>

<body id="top">

<div th:replace="fragm.html :: header"></div>
<div th:replace="fragm.html :: home"></div>

<!-- about
   ================================================== -->
<section id="about">

    <div class="row about-wrap">
        <div class="col-full">

            <div class="about-profile-bg"></div>

            <div class="intro">
                <h3 class="animate-this">About Us</h3>
                <p class="lead animate-this"><span>Infinity</span> is a creative digital agency based in Manila, Philippines. We are composed of creative designers and experienced developers.</p>
            </div>

        </div> <!-- end col-full  -->
    </div> <!-- end about-wrap  -->

</section> <!-- end about -->


<!-- about
================================================== -->

<div th:replace="fragm.html :: footer"></div>

<div id="preloader">
    <div id="loader"></div>
</div>

<!-- Java Script
================================================== -->
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

</body>

</html>